*, *::after, *::before{
    box-sizing: border-box;
}
html,body{
    margin:0;
}
.full-video-container{
    position:relative;
    height:100vh;
    width: 100vw;
    overflow: hidden;
}
.video{
    position:absolute;
    height: auto;
    width:auto;
    min-height: 100vh;
    min-width: 100vw;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    z-index:-1;
}
.video-content{
    font-size:2rem;
    background-color:white;
    font-weight:500;
    position:absolute;
    top:20%;
    left:50%;
    transform: translateX(-50%);
    padding:1rem;
}